@font-face {
    font-family: 'Maison';
    src: url('./fonts/CS-MaisonSezanne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum';
    src: url('./fonts/NanumMyeongjo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum-bold';
    src: url('./fonts/NanumMyeongjo-Bold.ttf') format('truetype');
}

:root{

    --blue:#128cff;
}

html{
    font-family:'Nanum';
    background:var(--blue);
    
}
h1{
    font-family:'Maison';
    font-size:5rem;
    text-align:center;
    z-index:5;
    position:absolute;
    top:3rem;
}

.dollie img{
    mix-blend-mode: hard-light;
    
    z-index:1;
}
